* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    line-height: 1.6;
}

.nav {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    color: white;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 5;
}

.sp {
    /* background-color: rgb(153, 166, 226); */
    color: rgb(255, 217, 0);
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.link {
    display: flex;
    gap: 20px;
}

.My {
    font-size: 28px;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    animation: fadeInUp 1s ease 0.3s forwards;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 250px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 350px;
    width: 600px;
    /* background-color: antiquewhite; */

}

.name {
    font-size: 3rem;
    font-weight: 600;
    color: white;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;

}

/* p {
    font-size: 1.5rem;
    color: white;
} */

.intro button {
    border: none;
    color: white;
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    padding: 15px 30px;
    border-radius: 24px;
    /* border: 1px solid rgb(235, 182, 98); */
    opacity: 0;
    animation: fadeInUp 1s ease 0.6s forwards;
}

.home-image {
    height: 320px;
    width: 300px;
    margin-right: 150px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    overflow: hidden;
    opacity: 0;
    animation: fadeInUp 1s ease 0.9s forwards;
}

.home-image img {
    height: 100%;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

/* img {
    border-radius: 12px;
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
} */


.box2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
    padding: 40px 40px;
}

.About {
    display: flex;
    /* gap: 24px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name1 {
    display: flex;
    align-items: flex-start;
    font-size: large;
    /* justify-content: center; */
}

.underline {

    height: 4px;
    background: #f2ed68;
    background: linear-gradient(90deg, rgba(242, 237, 104, 1) 0%, rgba(237, 172, 59, 1) 15%, rgba(255, 42, 0, 1) 64%);
    width: 100px;
    border-radius: 12px;
}

.parra1 {
    display: flex;
    width: 90%;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-top: 80px;
}

.para2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 60px;
    
}

.mirror {
    display: flex;
    flex-direction: row;
    gap: 80px;

}

.mir {
    background: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 200px;
    border-radius: 24px;
    border: 1px solid rgb(233, 224, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* box-shadow: 1px 1px 1px  #eee; */
    transition: transform 0.3s ease;
    flex: 1;
    /* background: rgba(255, 255, 255, 0.1); */
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
    flex: 1;

}

.num {
    color: gold;
    font-size: xx-large;
    font-weight: bolder;
}

.text {
    color: white;
    font-weight: bold;
}

.mir:hover {
    transform: translateY(-10px);
    transition-timing-function: ease-in-out;

}

.Skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* border: 10px solid black; */
    padding-top: 100px;
}

.card{
    display: flex;
    height: 75%;
    width: 80%;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.bar
{
    height: 12px;
    width: 900px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.red-bar1{
    background: #f2ed68;
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    width: 0;
    height: 12px;
    border-radius: 12px;
    animation: fillbar1 2s ease-in-out forwards;
}

.red-bar2{
    background: #f2ed68;
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    width: 0;
    height: 12px;
    border-radius: 12px;
    animation: fillbar2 2s ease-in-out forwards;
}

.red-bar3{
    background: #f2ed68;
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    width: 0;
    height: 12px;
    border-radius: 12px;
    animation: fillbar3 2s ease-in-out forwards;
}

.red-bar4{
    /* background: #f2ed68; */
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    width: 0;
    height: 12px;
    border-radius: 12px;
    animation: fillbar4 2s ease-in-out forwards;
}

@keyframes fillbar1 {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes fillbar2 {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes fillbar3 {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

@keyframes fillbar4 {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

.Myskills h1{
    font-size: 48px;
}

.heading{
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.heading span{
    font-weight: bolder;
}
.Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* border: 10px solid black; */
    padding-top: 100px;
    background: rgba(255, 255, 255, 0.1);
}

.threecont {
    display: flex;
    height: 75%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.cont-1 {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
    
    gap:15px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);

    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.cont-2{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 10px;
    
}

.image5 {
    height: 250px;
    overflow: hidden;
}

.image5 img{
    height: 100%;
    width: 100%;

    transition: transform 0.3s ease;
    
}

.cont-2 h3{
    color: gold;
    font-size: x-large;
}

.proj-tags span{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4px 4px;
    border-radius: 12px;
}

.cont-1:hover .image5 img{
    transform: scale(1.2);
}

.cont-1:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.Contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* border: 10px solid black; */
    padding-top: 100px;
}

.outer-box{
    display: flex;
    height: 75%;
    width: 70%;
    gap: 80px;
    align-items: center;
}

.inner-box1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 24px;
    width: 450px;
    display: flex;
    gap: 20px;
    border-radius: 12px;
}

.circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.emoji {
    font-size: xx-large;
}

.inner-box2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userinput1{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 24px;
    width: 450px;
    display: flex;
    gap: 20px;
    border-radius: 12px;
}

.userinput2{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 24px;
    width: 450px;
    display: flex;
    gap: 20px;
    border-radius: 12px;
    height: 125px;
}

.userinput1 input{
    background-color: transparent;
    border: none;
}

.userinput1 input::placeholder{
    color: white;
    opacity: 0.5;
}

.userinput2 input{
    background-color: transparent;
    border: none;
}

.userinput2 input::placeholder{
    color: white;
    opacity: 0.5;
}

.but button{
    border: none;
    color: white;
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    padding: 15px 30px;
    border-radius: 24px;
    width: 100%;
}